.personlist-container{
    width: 20%;
    font-size: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);}

.person{
    height: 100px;
    width: 100%;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}

.person-text{
    text-align: center;
    align-content: center;
    align-items: center;
    margin-bottom: auto;
    margin-left: auto;
}